/**************************
    LAYOUT - MOBILE FIRST
**************************/
#body{

}
#header{
    background-color: black;
    height: 1cm;
    width: 100%;
    top: 0;
    position: fixed;
}
#headTitle{
    padding-top: 10px;
    padding-left: 0.3cm;
    text-align: left;
    color: white;
}
#middle{
}
#footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 1cm;
    width: 100%;
    bottom: 0;
    position: fixed;
}
/**************************
    LAYOUT - MEDIUM SIZE
**************************/
@media screen and (min-width:600px){
}
/**************************
    LAYOUT - LARGE SIZE
**************************/
@media screen and (min-width:800px){   
}
/**************************
    LAYOUT - EXTRA LARGE SIZE
**************************/
@media screen and (min-width:1200px){    
}