/**************************
    LAYOUT - MOBILE FIRST
**************************/
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Armata&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  left: 0;  
}
header.topHead{
  display: flex;
  justify-content: row;
  justify-content: space-around;
  background-color: #121212;
  
}
header div{
    color: snow;
    font-family: 'Oxanium' ;
    letter-spacing: 5px;
    font-size: 9vw ;

}
header img{
    display: flex;
    justify-content: flex-end;
    right: 0;
    height: 50%;
    width: 10vw;
}
img:hover{
    fill: blue;
}
.page {
    min-height: 100vh;
    position: absolute;
    width: 100vw;
    opacity: 0;
    transform: translateX(-200%);
}
.page.active {
    opacity: 1;
    transform: translateX(0);
    color: snow;
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div#myTopNav.topNav{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    background-color: #121212;
}
button{
    color: white;
    background-color: #121212;
    width: 10vw;
}
.albumHead{
    margin: 10px;
    font-family: 'Armata', sans-serif;

}
div.description{
    margin: 10px;
    font-family: 'Armata', sans-serif;
}
div.frontCover{
    margin: 10px;
    font-family: 'Armata', sans-serif;
}
div.backCover{
    margin: 10px;
    font-family: 'Armata', sans-serif;
}
/**************************
    LAYOUT - MEDIUM SIZE
**************************/
@media screen and (min-width:600px){
}
/**************************
    LAYOUT - LARGE SIZE
**************************/
@media screen and (min-width:800px){   
}
/**************************
    LAYOUT - EXTRA LARGE SIZE
**************************/
@media screen and (min-width:1200px){    
}