.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

#footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}
#playBar{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}