
/*#region MOBILE SIZE*/
.watchColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ytVideo{
  padding-top: 10px;
  height: 400px;
  width: 100%;
}
.scPlaylist{
  padding-top: 20px;
  width: 100%;
  height: 450px;
}

*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  background-color: #616161;
}
#body{
  display: flex;
  flex-direction: column;
}
.page{
  display: none;
  width: 100%;
  min-height: 100%; /* allow for content off the bottom of the page */
  padding: 1rem;
  padding-bottom: 10%;
  padding-top: 100px;
  opacity: 0; 
}
.active{
  display: block; 
  opacity: 1;
  padding-bottom: 20%;
}
/* HEADER */
#header{
  top: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: row;
  background-color: #2b2e36;
  position: fixed;
}
.headTitle{
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
/* FOOTER */
#footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  padding-top : 5px;
  height: 10%;  
}
#playBar{
  padding-left: 5px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
#currentTrackArt{
  width: 50px;
  height: 50px;
  bottom: 0;
}
#currentTrackDetails{
  padding-left: 10px; 
  display: flex;
  flex-direction: column ;
}
#footPlayButton{
  font-size: 50px;
} 
/* LOADING SCREEN */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 40%;
  top: 50% ;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* BODY */
.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trackDetails{
  display: flex;
}
.trackVisual{
  height: 20px;
}
.audioPlayer{
  display: flex;
  justify-content: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.trackProgress{
  width: 10px;
  height: 20px;
  background-color: blue;
}
.progressRow{
  display: flex;
  justify-content: row;
}
.trackCurrentTime{
  padding-right: 10px;
  color: whitesmoke;
}
.trackEndTime{
  padding-left: 10px;
  color: whitesmoke;
}
.albumTitle{
  font-size: 7vw;
  color: whitesmoke;
  font-family: 'Bungee', cursive;
}
#footTrackName{
  color: whitesmoke;
}
img{
  
}
.trackTitle{
  color: whitesmoke;
}
.dropdown-content{
  width: 130px !important;
}
.simButton{
  background-color: #212121;
  z-index: 1;
  font-size: 1vw;
  color: whitesmoke !important;
}
#loading{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: white;
  z-index: 1000;
  color: white;
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}
#loading.hidden{
  opacity: 0;
  visibility: hidden;
}
#loadImage{
  position: fixed;
  width: 300px;
  height: 300px;
  top: 25%;
  left: 1%;
}
.icons{
  width: 15px ;
  padding-top: 10px;
}
.headIcons{
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  width: 50%;
  height: 50px;
}
.masterMenu{
  display: flex;
  justify-content: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #969CA1;
  font-family: 'Lexend Peta', sans-serif;
  width: 100%;
  position: fixed;
}
.instruction{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}
.latestTrackLinks{
  display: flex;
  justify-content: row;
  justify-content: space-evenly;
  padding-top: 20px;
  position: relative; 
}
.latestTrackArt{
  width: 300px;
  height: 300px;
}
.latestTrackArtRow{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.link{
  text-decoration: underline;
  animation-name: vibrate;
  color: #fdfcfd;
}
.glow {
  font-size: 10px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.textShadow{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.characterBox{
  width: 100%;
  height: 450px;
  background-color: bisque;
  z-index: 1000;
  border-style: solid;
}
.characterSelect{
  height: 100%;
  z-index: 1000;
}
.characterRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}
.algorithm{
  width: 33.33%;
  height: 75px;
  background-color: bisque;
  border-radius: 3px;
  outline: black;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
.choiceRow{
  display: flex;
  justify-content: center;
}
.buttonChoice{
  height: 30px;
  background-color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
.grid{
  padding-top: 10px;
  width: 100%;
  height: 50px;
} 
.gridBox{
  width: 33.33%;
  height: 33.33%vw;
}

.enterRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.instructionEnterButton{
  width: 500px;
  height: 100px;
}
.algorithmInstruction{
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.masterIcons{
  width: 50px;
  margin-bottom: -19px; 
}
.masterLabels{
  display: flex;
  justify-content: center;
  width: 50px;
  font-size: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

#shopButton{
  padding-left: 3px; 
}
.youtubeVideo{
  width: 100%;
  height: 300px;
  padding-top: 10px
}
#youtubeHeadButton{
  padding-bottom: 3px;
}
#instagramHeadButton{
  padding-bottom: 1px;
}
.masterTrackName{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}
.masterTrack{
  display: flex;
  flex-direction: column;
}
.masterTrackFrame{
  /* padding-left: 22%; */
}
.masterTrackLinks{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.listenGrid{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.listenGridRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
.listenGridRowImage{
  width: 90px;
  height: 90px;
}
.clicked{ 
  height: 50px;
  background-color: white
}
.selected{ 
  height: 20px;
  background-color: white
}
.gridPageNumbers{
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.simPage{
  opacity: 0;
}
/*#endregion MOBILE SIZE*/

/*#region MEDIUM SIZE*/
@media screen and (min-width:600px){
  *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    background-color: #616161;
  }
  .material-icons{
    color: whitesmoke;
  }
  .page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    padding: 1rem;
    padding-bottom: 10%;
    padding-top: 100px;
    opacity: 0; 
  }
  .active{
    display: block; 
    opacity: 1;
    padding-bottom: 20%;
  }
  #header{
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .headTitle{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* transform: rotate(90deg); */
  }
  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    padding-top : 5px;
    height: 10%;  
  }
  #playBar{
    padding-left: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  #currentTrackArt{
    width: 70px;
    height: 70px;
    bottom: 0;
  }
  #currentTrackDetails{
    padding-left: 10px; 
    display: flex;
    flex-direction: column ;
  }
  .trackDetails{
    display: flex;
  }
  .trackVisual{
    height: 20px;
    background-color: whitesmoke;
  }
  .audioPlayer{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .trackProgress{
    width: 10px;
    height: 20px;
    background-color: blue;
  }
  .progressRow{
    display: flex;
    justify-content: row;
  }
  .trackCurrentTime{
    padding-right: 10px;
    padding-bottom: 5px;
    color: whitesmoke;
  }
  .trackEndTime{
    padding-left: 10px;
    padding-bottom: 5px;
    color: whitesmoke;
  }
  .albumTitle{
    font-size: 7vw;
    color: whitesmoke;
    font-family: 'Bungee', cursive;
  }
  #footTrackName{
    color: whitesmoke;
    padding-bottom: 10px;
  }
  img{
    border-radius: 8px;
  }
  .trackTitle{
    color: whitesmoke;
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .dropdown-content{
    width: 130px !important;
  }
  .simButton{
    background-color: #212121;
    z-index: 1;
    font-size: 1vw;
    color: whitesmoke !important;
  }
  #loading{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    z-index: 1000;
    color: white;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
  }
  #loading.hidden{
    opacity: 0;
    visibility: hidden;
  }
  #loadImage{
    position: fixed;
    width: 300px;
    height: 300px;
    top: 25%;
    left: 28%;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 43%;
    top: 50% ;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .playTrackButton{
    padding-bottom: 4px;
    padding-right: 2px;
    
  }
  .trackArtRow{
    display: flex;
    justify-content: center;
  }
  .albumArtRow{
    display: flex;
    justify-content: center;
  }
  #footPlayButton{
    font-size: 50px;
  }

  .headIcons{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 50%;
    height: 50px;
  }
  .masterMenu{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #969CA1;
    font-family: 'Lexend Peta', sans-serif;
    width: 100%;
    position: fixed;
  }
  .instruction{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .icons{

    width: 24px ;
    padding-left: 5px;
    padding-top: 10px;
  }
  .buttonChoice{
    height: 30px;
    background-color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .grid{
    padding-top: 10px;
    width: 100%;
    height: 50px;
  } 
  .gridBox{
    width: 33.33%;
    height: 33.33%vw;
  }

  .enterRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .latestTrackArt{
    width: 500px;
    height: 500px;
  }
  .latestTrackArtRow{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .algorithmInstruction{
    font-size: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .instructionRow{
    display: flex;
    justify-content: row;
    justify-content: center;
  }
  .instructionEnterButton{
    width: 500px;
    height: 100px;
  }
  .characterRow{
    display: flex;
    justify-content: center;
  }
  .characterBox{
    width: 500px;
    height: 500px;
    background-color: bisque;
    z-index: 1000;
    border-style: solid;
  }
  .algorithm{
    width: 100px;
    height: 70px;
    background-color: bisque;
    border-radius: 3px;
    outline: black;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .characterSelect{
    display: flex;
    justify-content: row;
    justify-content: center;
    height: 70px;
    width: 100%vw;
  }
  .masterTrack{
    display: flex;
    flex-direction: column;
  }
  .masterTrackName{
    font-size: 30px;
  }
  .masterTrackFrame{
    padding-left: 12%;
    padding-right: 12%;
  }
  .masterTrackLinks{
    display: flex;
    justify-content: center;
  }
  .listenGrid{
    display: flex;
    flex-direction: column;
  }
  .listenGridRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }
  .listenGridRowImage{
    width: 200px;
    height: 200px;
  }
  
}
/*#endregion MEDIUM SIZE*/

/*#region LARGE SIZE*/
@media screen and (min-width:800px){  
  #header{
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;
    display: flex;
    align-items: center;
  } 
  .page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    padding: 1rem;
    padding-bottom: 10%;
    padding-top: 100px;
    opacity: 0; 
  }
  .active{
    display: block; 
    opacity: 1;
    padding-bottom: 20%;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    padding-top : 5px;
    background-color: grey;
    height: 10%;  
  }
  #playBar{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10px;
  }
  #currentTrackArt{
    width: 50px;
    height: 50px;
    bottom: 0;
  }
  #currentTrackDetails{
    padding-left: 10px; 
    display: flex;
    flex-direction: column ;
  }
  .trackDetails{
    display: flex;
    right: 0;
  }
  .trackVisual{
    height: 20px;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  .progressRow{
    display: flex;
    justify-content: row;
  }
  #loading{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    z-index: 1000;
    color: white;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
  }
  #loading.hidden{
    opacity: 0;
    visibility: hidden;
  }
  #loadImage{
    position: fixed;
    width: 300px;
    height: 300px;
    top: 25%;
    left: 35%;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 45% ;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .headTitle{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* transform: rotate(90deg); */
  }

  #footPlayButton{
    font-size: 50px;
  }
  .masterMenu{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #969CA1;
    font-family: 'Lexend Peta', sans-serif;
    width: 100%;
    position: fixed;
  }
  .instruction{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
  }
  .icons{
   
    width: 24px ;
    padding-left: 5px;
    padding-top: 10px;
  }
  .buttonChoice{
    height: 30px;
    background-color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .characterSelect{
    display: flex;
    justify-content: row;
    justify-content: center;
    height: 70px;
    width: 100%;
  } 
  .characterBox{
    width: 500px;
    height: 500px;
    background-color: bisque;
    z-index: 1000;
    border-style: solid;
  }
  .algorithm{
    width: 100px;
    height: 70px;
    background-color: bisque;
    border-radius: 3px;
    outline: black;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .grid{
    padding-top: 10px;
    width: 100%;
    height: 50px;
  } 
  .gridBox{
    width: 33.33%;
    height: 33.33%vw;
  }

 
  .enterRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .latestTrackArt{
    width: 500px;
    height: 500px;
  }
  .latestTrackArtRow{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .algorithmInstruction{
    font-size: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .instructionRow{
    display: flex;
    justify-content: row;
    justify-content: center;
  }
  .instructionEnterButton{
    width: 500px;
    height: 100px;
  }
  .characterRow{
    display: flex;
    justify-content: center;
  }
  .masterIcons{
    width: 50px;
    margin-bottom: -19px; 
  }
  .masterTrack{
    display: flex;
    flex-direction: column;
  }
  .masterTrackName{
    font-size: 30px;
  }
  .masterTrackFrame{
    padding-left: 22%;
    padding-right: 22%;
  }
  .masterTrackLinks{
    display: flex;
    justify-content: center;
  }
  .listenGrid{
    display: flex;
    flex-direction: column;
  }
  .listenGridRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }
  .listenGridRowImage{
    width: 200px;
    height: 200px;
  }
}
/*#endregion LARGE SIZE*/

/*#region XLARGE SIZE*/
@media screen and (min-width:1200px){
  .ytVideo{
    padding-top: 20px;
    height: 400px;
    width: 1000px;
  }
  .scPlaylist{
    padding-top: 20px;
    width: 1000px;
    height: 400px;
  }
  .listenColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }    

  #header{
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;
    display: flex;
    align-items: center;
  } 
  .page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    padding: 1rem 2rem;
    padding-bottom: 10%;
    padding-top: 100px;
    opacity: 0;
  }
  .active{
    display: block; 
    opacity: 1;
    padding-bottom: 20px;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    padding-top : 5px;
    background-color: grey;
    height: 10%;  
  }
  #playBar{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10px;
  }
  #currentTrackArt{
    width: 50px;
    height: 50px;
    bottom: 0;
  }
  #currentTrackDetails{
    padding-left: 10px; 
    display: flex;
    flex-direction: column ;
  }
  .trackDetails{
    display: flex;
    right: 0;
  }
  .trackVisual{
    height: 20px;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  .progressRow{
    display: flex;
    justify-content: row;
  }
  #loading{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    z-index: 1000;
    color: white;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
  }
  #loading.hidden{
    opacity: 0;
    visibility: hidden;
  }
  #loadImage{
    position: fixed;
    width: 300px;
    height: 300px;
    top: 25%;
    left: 35%;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 45% ;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .headTitle{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color: whitesmoke;
    font-size: 35px;
    display: flex;
    align-items: center;
    top: 0;
    padding-left: 20px;
    /* transform: rotate(90deg); */
  }
  #footPlayButton{
    font-size: 50px;
  }
  .algorithmRow{
    display: flex;
    flex-direction: row;
  }
  .hide{
    display: block;
    color: white;
  }
  .simulationMenu{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    background-color: rgb(114, 119, 124);
    font-family: 'Lexend Peta', sans-serif;
    width: 100%;
    position: fixed;
  }
  .masterMenu{
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #969CA1;
    font-family: 'Lexend Peta', sans-serif;
    width: 100%;
    position: fixed;
  }
  .instruction{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  }
  .icons{
 
    width: 24px ;
    padding-left: 5px;
    padding-top: 10px;
  }
  .buttonChoice{
    height: 30px;
    background-color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .characterSelect{
    display: flex;
    justify-content: row;
    justify-content: center;
    height: 70px;
    width: 100%vw;
  }
  .characterBox{
    width: 500px;
    height: 500px;
    background-color: bisque;
    z-index: 1000;
    border-style: solid;
  }
  .algorithm{
    width: 100px;
    height: 70px;
    background-color: bisque;
    border-radius: 3px;
    outline: black;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  .grid{
    padding-top: 10px;
    width: 100%;
    height: 50px;
  } 
  .gridBox{
    width: 33.33%;
    height: 33.33%vw;
  }

  .headIcons{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 50%;
    height: 50px;
  }
  
  #shopPage{
    height: 85vh;
  }
  .enterRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .latestTrackArt{
    width: 500px;
    height: 500px;
  }
  .latestTrackArtRow{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .algorithmInstruction{
    font-size: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .instructionRow{
    display: flex;
    justify-content: row;
    justify-content: center;
  }
  .instructionEnterButton{
    width: 500px;
    height: 100px;
  }
  .characterRow{
    display: flex;
    justify-content: center;
  }
  .masterIcons{
    width: 50px;
    margin-bottom: -19px; 
  }
  .masterTrack{
    display: flex;
    flex-direction: column;
  }
  .masterTrackName{
    font-size: 30px;
  }
  .masterTrackFrame{
    padding-left: 22%;
    padding-right: 22%;
  }
  .masterTrackLinks{
    display: flex;
    justify-content: center;
  }
  .listenGrid{
    display: flex;
    flex-direction: column;
  }
  .listenGridRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }
  .listenGridRowImage{
    width: 200px;
    height: 200px;
  }
  .trackRow{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  .instagram-media{
    width: 300px;
    height: 500px;
  }
  .soundcloud-media{
    width: 100%;
    height: 100px;
  }
  .trackSecondColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
  }
  .youtube-media{
    width: 100%;
    height: 400px;
  }
}
/*#endregion XLARGE SIZE*/
